shodan==1.30.0
psycopg2-binary==2.9.9
backoff==2.2.1
requests==2.31.0
python-dotenv==1.0.0
pydantic==2.5.0
PyYAML==6.0.1
pymongo==4.6.1
prometheus-client==0.23.0
scikit-learn==1.5.2
hvac==2.4.0
uvicorn==0.31.1
vt-py==0.11.0
packaging>=22.0